body {
    background-color: #e9e9e9;
}

.bgimage {
    height: 100vh;
    background: url('./profile.png');
    width: 100%;
    background-size: 42%;
    background-position: right;
    background-repeat: no-repeat;
    position: relative;
    background-color: black
}

.nav-link {
    color: white;
    font-size: 20px;
}

.navbar-brand {
    color: white;
    font-size: 28px;
    font-weight: bold;
    font-family: 'Cinzel', serif;
    font-family: 'Lobster', cursive;
    font-family: 'Sedgwick Ave Display', cursive;
}

section h1:hover {
    font-size: 60px;
}

/* text css above hero image*/
.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding-left: 40px;
}

.hero_title {
    font-size: 4.5rem;
    color: white;
}

.hero_desc {
    font-size: 2rem;
    color: rgb(234, 226, 226);
    font-weight: bold;
}

.hero_desc span {
    color: red;
}

/* about section image css */
.imageAboutPage {
    width: 100%;
}

/* services section css */
#services .servicesText.card {
    height: 280px;
    cursor: pointer;
}

.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}

.card-title {
    text-align: center;
}

#services .card:hover {
    background-color: #8ae78a;
}

.servicesText:hover {
    border: 1px solid #008000;
}

/* Skills */
#Skills .servicesText.card {
    height: 100px;
    cursor: pointer;
}

#Skills .servicesText.card:hover {
    background-color: rgb(231, 231, 89);
}

#portfolio .card:hover {
    width: 300px;
}

/* social media icons styling */
.social-icons {
    font-size: 36px;
    cursor: pointer;
    padding: 10px;
}

.social-icons .fa-github {
    background-color: rgb(248, 242, 242);
    margin: 0px 10px;
}

.social-icons .fa-facebook,
.fa-linkedin {
    background-color: rgb(53, 25, 235);
    color: white;
}

.social-icons .fa-linkedin {
    background-color: rgb(16, 16, 251);
    color: rgb(227, 212, 212);
}

.social-icons:hover {
    font-size: 43px;
}

.fab {
    color: #000000;
}

.fa-brands:hover {
    background-color: yellow;
}

/* footer styling */
#footer {
    background-color: #808080;
    text-align: center;
    padding: 20px;
    color: white;
}

/* spacing on all sections */
#services,
#Skills,
#portfolio,
#contact {
    margin-top: 2rem;
    padding-top: 2rem;
}

#contact {
    padding-bottom: 4rem;
}

.btn-success:hover {
    width: 16%;
}

.viewAll {
    margin: 10px 0px;
    font-size: 26px;
    background-color: #0056f5;
    color: white;

}

/* MEDIA QUERY */
@media (max-width:800px) {

    .bgimage {
        background-size: 50%;
    }

    .hero_title {
        font-size: 3rem;
        color: white;
    }

    .hero_desc {
        font-size: 1.87rem;
        color: rgb(234, 226, 226);
        font-weight: bold;
    }
}

@media (max-width:450px) {
    .bgimage {
        background-size: 90%;
    }

    .hero-text {
        position: absolute;
        top: 50%;
        left: 20%;
        transform: translate(-20%, -20%);
        padding-left: 3px;
    }
   
    .hero_title {
        font-size: 2.6rem;
        color: white;
        padding-left: 8px;
    }
    .btn-success{
       margin-left: 6px;
    }
    .hero_desc {
        font-size: 0.87rem;
        color: rgb(234, 226, 226);
        padding-left: 8px;
        }

}
